parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Chat\Infrastructure\Controller\:
        resource: '../src/Chat/Infrastructure/Controller/'
        tags: ['controller.service_arguments']

    _instanceof:
        App\Chat\Domain\Llm\LlmClientInterface:
            tags: ['app.llm_client']

    App\Chat\Infrastructure\Adapter\ClaudeLlmClient:
        arguments:
            $apiKey: '%env(ANTHROPIC_API_KEY)%'

    App\Chat\Infrastructure\Adapter\GeminiLlmClient:
        arguments:
            $apiKey: '%env(GOOGLE_API_KEY)%'

    App\Chat\Infrastructure\Adapter\LlmClientResolver:
        arguments:
            $clients: !tagged_iterator app.llm_client

    App\Chat\Application\Query\GetModelsQueryHandler:
        arguments:
            $models: '%llm.models%'
