parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Chat\Infrastructure\Controller\:
        resource: '../src/Chat/Infrastructure/Controller/'
        tags: ['controller.service_arguments']

    App\Chat\Domain\Llm\LlmClientInterface:
        alias: App\Chat\Infrastructure\Adapter\LlmClientFactory

    App\Chat\Infrastructure\Adapter\ClaudeLlmClient:
        arguments:
            $apiKey: '%env(ANTHROPIC_API_KEY)%'

    App\Chat\Infrastructure\Adapter\GeminiLlmClient:
        arguments:
            $apiKey: '%env(GOOGLE_API_KEY)%'

    App\Chat\Infrastructure\Adapter\LlmClientFactory:
        arguments:
            $claudeClient: '@App\Chat\Infrastructure\Adapter\ClaudeLlmClient'
            $geminiClient: '@App\Chat\Infrastructure\Adapter\GeminiLlmClient'
            $models: '%llm.models%'

    App\Chat\Application\Query\GetModelsQueryHandler:
        arguments:
            $models: '%llm.models%'
